{% load static %}
<!doctype html>
<html class="no-js" lang="zxx">
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>QDTT-Tex</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'img/favicon.ico' %}">

    <!-- CSS here -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/animated-headline.css' %}">
    <link rel="stylesheet" href="{% static 'css/magnific-popup.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome-all.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/themify-icons.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}">
    <link rel="stylesheet" href="{% static 'css/nice-select.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    
</head>

<body>
    <header>
        <!-- Header Start -->
        <div class="header-area header-transparent">
            <div class="main-header ">
                <div class="header-bottom  header-sticky">
                    <div class="container-fluid">
                        <div class="row align-items-center">
                            <!-- Logo -->
                            <div class="col-xl-2 col-lg-2">
                                <div class="logo ">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s" style="font-weight: bold;"><a href="index.html" style="color: white;">QDTT-Tex</a></h1>
                                </div>
                            </div>
                            <div class="col-xl-10 col-lg-10">
                                <div class="menu-wrapper d-flex align-items-center justify-content-end">
                                    <!-- Main-menu -->
                                    <div class="main-menu d-none d-lg-block">
                                        <nav>
                                            <ul id="navigation">                                                                                          
                                                <li class="active" ><a href="#home">Bosh sahifa</a></li>
                                                <li><a href="#courses">Kurslar</a></li>
                                                <li><a href="#about">Biz haqimizda</a></li>
                                                <li><a href="#contact">Bog'lanish</a></li>
                                            </ul>
                                        </nav>
                                    </div>
                                </div>
                            </div> 
                            <!-- Mobile Menu -->
                            <div class="col-12">
                                <div class="mobile_menu d-block d-lg-none"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Header End -->
    </header>
    <!-- ? Preloader Start -->
    <div id="preloader-active">
        <div class="preloader d-flex align-items-center justify-content-center">
            <div class="preloader-inner position-relative">
                <div class="preloader-circle"></div>
                <div class="preloader-img pere-text">
                    <img src="{% static 'img/logo/loder.png' %}" alt="">
                </div>
            </div>
        </div>
    </div>
    <!-- Preloader Start -->

    <main>
        <!--? slider Area Start-->
        <section class="slider-area " id="home">
            <div class="slider-active">
                <!-- Single Slider -->
                <div class="single-slider slider-height d-flex align-items-center">
                    <div class="container">
                        <div class="row">
                            <div class="col-xl-6 col-lg-7 col-md-12">
                                <div class="hero__caption">
                                    <h1 data-animation="fadeInLeft" data-delay="0.2s">Qarshi dizayner va texnologlarni tayyorlash<br> texnikumi</h1>
                                    <!-- <p data-animation="fadeInLeft" data-delay="0.4s">Build skills with courses, certificates, and degrees online from world-class universities and companies</p> -->
                                    <a href="#a" class="btn hero-btn" data-animation="fadeInLeft" data-delay="0.7s">Ariza qoldirish</a>
                                </div>
                            </div>
                        </div>
                    </div>          
                </div>
            </div>
        </section>
        <!-- ? services-area -->
        <div class="services-area">
            <div class="container">
                <div class="row justify-content-sm-center">
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon1.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Darslar va Seminarlar</h3>
                                <p>Har hafta darslarda dizayn nazariyasi, texnologiyalari va amaliyotlarini o'z ichiga olgan seminarlar o'tkazish.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon2.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Talabalar Faoliyatini Rivojlantirish</h3>
                                <p>Talabalar tomonidan ijtimoiy muammolarni hal qilish uchun dizayn loyihalari ishlab chiqish.</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-8">
                        <div class="single-services mb-30">
                            <div class="features-icon">
                                <img src="assets/img/icon/icon3.svg" alt="">
                            </div>
                            <div class="features-caption">
                                <h3>Vaqt Rejasi</h3>
                                <p>Har oyda amaliy mashg'ulotlar va loyihalar orqali talabalarning ko'nikmalarini oshirish.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Courses area start -->
        <div class="courses-area section-padding40 fix" id="about">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Bizdagi yangiliklar</h2>
                        </div>
                    </div>

                    <div class="col-xl-12">
                        <div class="section-tittle text-center mt-20">
                            <a href="{% url 'list' %}" class="border-btn">Barchasini ko'rish</a>
                        </div>
                    </div>
                    
                </div>
                    
                <div class="courses-actives">
                    <!-- Single -->
                    {% for article in articles %}
                    <div class="properties pb-20">
                        <div class="properties__card">
                            <div class="properties__img overlay1">
                                {% if article.main_image %}
                                    <img src="{{ article.main_image.url }}" alt="Main Image">
                                {% endif %}
                            </div>
                            <div class="properties__caption">
                                <h3><a href="{% url 'article_detail' article.pk %}">{{ article.title }}</a></h3>

                                <a class="border-btn border-btn2" href="{% url 'article_detail' article.pk %}">Batafsil</a>
                            </div>

                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
        <!-- Courses area End -->

        <!--? top subjects Area Start -->
        <div class="topic-area section-padding40" id="courses">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-xl-7 col-lg-8">
                        <div class="section-tittle text-center mb-55">
                            <h2>Bizda mavjud kurslar</h2>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Tikuvchi</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Tikuvchilikda andoza tayyorlash</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Yengil sanoat buyumlari konstruksiyasi va texnologiyasi</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Tikuv mahsulotlarini konstruktorlashtirish, modellashtirish texnologiyasi</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Oziq-ovqat mahsulotlar texnologiyasi</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Elektr stansiyalari, tarmoqlari va tizimlari [KELAJAK KASBI ]🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Elektr va elektromexanik uskunalarni texnik
                                            ekspluatatsiya qilish va xizmat ko‘rsatish [KELAJAK KASBI ]🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Tashishlarni tashkil etish va transportni boshqarish[KELAJAK KASBI🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Transport logistikasi( oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Dasturiy injiniring [KELAJAK KASBI ]🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Tikuvchilik mahsulotlari dizayneri[KELAJAK KASBI ]🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-4 col-sm-6">
                        <div class="single-topic text-center mb-30">
                            <div class="topic-img">
                                <img src="{% static 'img/a.png' %}" style="border-radius: 8px;">
                                <div class="topic-content-box">
                                    <div class="topic-content">
                                        <h3><a href="#" style="color: #07ff3a;">Buxgalteriya hisobi va audit [KELAJAK KASBI ]🔥(oliy ta’limda davom etiradi)</a></h3>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
        <!-- top subjects End -->
        <section class="contact-section" id="contact">
            <div class="container">
                <div class="d-none d-sm-block mb-5 pb-4">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d12444.03113145413!2d65.7652605!3d38.7635255!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3f4ea91f4be90c1f%3A0xce65bfb1a1747124!2sQarshi%20tuman%20yengil%20sanoat%20kolleji!5e0!3m2!1sru!2s!4v1730387230813!5m2!1sru!2s" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
                <div class="row" id="a">
                    <div class="col-12">
                        <h2 class="contact-title">Biz bilan bog'lanish</h2>
                    </div>
                    <div class="col-lg-8">
                        <form class="form-contact contact_form"  method="post" id="contactForm" novalidate="novalidate">
                            <div class="row">
                                <div class="col-12">
                                    <div class="form-group">
                                        <textarea class="form-control w-100" name="message" id="message" cols="30" rows="9" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Xabar matni'" placeholder=" Xabar matni"></textarea>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="name" id="name" type="text" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Foydalanuvchi nomi'" placeholder="Foydalanuvchi nomi">
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input class="form-control valid" name="email" id="email" type="email" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Email manzili'" placeholder="Email">
                                    </div>
                                </div>
                            </div>
                            <div class="form-group mt-3">
                                <button type="submit" class="button button-contactForm boxed-btn">Yuborish</button>
                            </div>
                        </form>
                    </div>
                    <div class="col-lg-3 offset-lg-1">
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-home"></i></span>
                            <div class="media-body">
                                <h3> Qashqadaryo Viloyati</h3>
                                <p>Faizabad</p>
                            </div>
                        </div>
                        <div class="media contact-info">
                            <span class="contact-info__icon"><i class="ti-tablet"></i></span>
                            <div class="media-body">
                                <h3>+998(91) 950 49 30 <br>
                                    +998(97) 672 12 24</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>

    </main>
    <footer>
        <div class="footer-wrappper footer-bg">
           <!-- footer-bottom area -->
           <div class="footer-bottom-area">
               <div class="container">
                   <div class="footer-border">
                       <div class="row d-flex align-items-center">
                           <div class="col-xl-12 ">
                               <div class="footer-copy-right text-center">
                                   <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                                    Copyright © 2024. Qarshi dizayner va texnologiyalarini tayyorlash texnikumi. Barcha huquqlar himoyalangan.
                                     <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
                                 </div>
                             </div>
                         </div>
                     </div>
                 </div>
             </div>
             <!-- Footer End-->
         </div>
     </footer> 
  <!-- Scroll Up -->
  <div id="back-top" >
    <a title="Go to Top" href="#"> <i class="fas fa-level-up-alt"></i></a>
</div>

<!-- JS here -->
<script src="{% static 'js/vendor/modernizr-3.5.0.min.js' %}"></script>
<!-- Jquery, Popper, Bootstrap -->
<script src="{% static 'js/vendor/jquery-1.12.4.min.js' %}"></script>
<script src="{% static 'js/popper.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<!-- Jquery Mobile Menu -->
<script src="{% static 'js/jquery.slicknav.min.js' %}"></script>

<!-- Jquery Slick , Owl-Carousel Plugins -->
<script src="{% static 'js/owl.carousel.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<!-- One Page, Animated-HeadLin -->
<script src="{% static 'js/wow.min.js' %}"></script>
<script src="{% static 'js/animated.headline.js' %}"></script>
<script src="{% static 'js/jquery.magnific-popup.js' %}"></script>

<!-- Date Picker -->
<script src="{% static 'js/gijgo.min.js' %}"></script>
<!-- Nice-select, sticky -->
<script src="{% static 'js/jquery.nice-select.min.js' %}"></script>
<script src="{% static 'js/jquery.sticky.js' %}"></script>
<!-- Progress -->
<script src="{% static 'js/jquery.barfiller.js' %}"></script>

<!-- counter , waypoint,Hover Direction -->
<script src="{% static 'js/jquery.counterup.min.js' %}"></script>
<script src="{% static 'js/waypoints.min.js' %}"></script>
<script src="{% static 'js/jquery.countdown.min.js' %}"></script>
<script src="{% static 'js/hover-direction-snake.min.js' %}"></script>

<!-- contact js -->
<script src="{% static 'js/contact.js' %}"></script>
<script src="{% static 'js/jquery.form.js' %}"></script>
<script src="{% static 'js/jquery.validate.min.js' %}"></script>
<script src="{% static 'js/mail-script.js' %}"></script>
<script src="{% static 'js/jquery.ajaxchimp.min.js' %}"></script>

<!-- Jquery Plugins, main Jquery -->	
<script src="{% static 'js/plugins.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>
</html>